@font-face {
    font-family:'ProximaNova-Light';
    src: url('/fonts/2E79D0_B_0.eot?1451370455');
    src: url('/fonts/2E79D0_B_0.eot?&1451370455#iefix') format("embedded-opentype"),url('/fonts/2E79D0_B_0.woff2?1451370455') format("woff2"),url('/fonts/2E79D0_B_0.woff?1451370455') format("woff"),url('/fonts/2E79D0_B_0.ttf?1451370455') format("truetype");
    font-weight: normal;
    font-style: normal
}