/**
 * 11.1 - Header
 */

.site-header {
  padding: 2.625em 7.6923%;
}

.site-header-main {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.site-branding {
  margin: 0.875em auto 0.875em 0;
  /* Avoid overflowing wide custom logo in small screens in Firefox and IEs */
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
}

.custom-logo-link {
  display: block;
}

.custom-logo {
  max-width: 180px;
}

.site-title {
  font-family: $font-family-input;
  font-size: 23px;
  font-size: 1.4375rem;
  font-weight: 700;
  line-height: 1.2173913043;
  margin: 0;
}

.site-branding .site-title a {
  color: $black;
  &:hover, &:focus {
    color: $blue1;
  }
}

.wp-custom-logo .site-title {
  margin-top: 0.608695652em;
}

.site-description {
  color: $gray2;
  display: none;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.0769230769;
  margin: 0.538461538em 0 0;
}

.menu-toggle {
  background-color: transparent;
  border: 1px solid $gray1;
  color: $black;
  font-size: 13px;
  font-size: 0.8125rem;
  margin: 1.076923077em 0;
  padding: 0.769230769em;
}

.no-js .menu-toggle {
  display: none;
}

.menu-toggle {
  &:hover, &:focus {
    background-color: transparent;
    border-color: $blue1;
    color: $blue1;
  }
  &.toggled-on {
    background-color: $black;
    border-color: $black;
    color: $white;
    &:hover, &:focus {
      background-color: $black;
      border-color: $black;
      color: $white;
    }
  }
  &:focus {
    outline: 0;
  }
  &.toggled-on:focus {
    outline: thin dotted;
  }
}

.header-image {
  clear: both;
  margin: 0.875em 0;
  a {
    display: block;
    &:hover img, &:focus img {
      opacity: 0.85;
    }
  }
}