/**
 * 14.5 - >= 1200px
 */

@media screen and (min-width: 75em) {
  body:not(.search-results) {
    .entry-summary {
      font-size: 23px;
      font-size: 1.4375rem;
      line-height: 1.5217391304;
      margin-bottom: 1.826086957em;
    }
    .entry-header + .entry-summary {
      margin-top: -0.913043478em;
    }
    .entry-summary {
      p, address, hr, ul, ol, dl, dd, table {
        margin-bottom: 1.5217391304em;
      }
      li > ul, blockquote > ul {
        margin-left: 0.956521739em;
      }
      li > ol {
        margin-left: 1.52173913em;
      }
      blockquote {
        > ol {
          margin-left: 1.52173913em;
        }
        font-size: 23px;
        font-size: 1.4375rem;
        line-height: 1.5217391304;
        margin: 0 0 1.5217391304em;
        padding-left: 1.347826087em;
        &:not(.alignleft):not(.alignright) {
          margin-left: -1.52173913em;
        }
        blockquote:not(.alignleft):not(.alignright) {
          margin-left: 0;
        }
        cite, small {
          font-size: 19px;
          font-size: 1.1875rem;
          line-height: 1.8421052632;
        }
      }
      th, td {
        padding: 0.3043478261em;
      }
      pre {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.75;
        margin-bottom: 1.75em;
        padding: 1.75em;
      }
      fieldset {
        margin-bottom: 1.5217391304em;
        padding: 0.3043478261em;
      }
      h1 {
        margin-top: 2.121212121em;
        margin-bottom: 1.060606061em;
      }
      h2 {
        margin-top: 2.5em;
        margin-bottom: 1.25em;
      }
      h3 {
        margin-top: 3.043478261em;
        margin-bottom: 1.52173913em;
      }
      h4, h5, h6 {
        margin-top: 3.684210526em;
        margin-bottom: 1.842105263em;
      }
      h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
        margin-top: 0;
      }
      .alignleft {
        margin: 0.2608695652em 1.5217391304em 1.5217391304em 0;
      }
      .alignright {
        margin: 0.2608695652em 0 1.5217391304em 1.5217391304em;
      }
      .aligncenter {
        margin-bottom: 1.5217391304em;
      }
    }
  }
}