/**
 * 13.0 - Multisites
 */

.widecolumn {
  margin-bottom: 3.5em;
  padding: 0 7.6923%;
  .mu_register {
    width: auto;
    .mu_alert {
      background: transparent;
      border-color: $gray1;
      color: inherit;
      margin-bottom: 3.5em;
      padding: 1.75em;
    }
  }
  form, .mu_register form {
    margin-top: 0;
  }
  h2 {
    font-size: 23px;
    font-size: 1.4375rem;
    font-weight: 900;
    line-height: 1.2173913043;
    margin-bottom: 1.2173913043em;
  }
  p {
    margin: 1.75em 0;
    + h2 {
      margin-top: 2.4347826087em;
    }
  }
  label {
    color: $gray2;
    font-family: $font-family-input;
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 400;
    letter-spacing: 0.076923077em;
    line-height: 1.6153846154;
    text-transform: uppercase;
  }
  .mu_register label {
    color: $gray2;
    font-family: $font-family-input;
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 400;
    letter-spacing: 0.076923077em;
    line-height: 1.6153846154;
    text-transform: uppercase;
    margin: 2.1538461538em 0.7692307692em 0.5384615385em 0;
    strong {
      font-weight: 400;
    }
  }
  #key {
    font-size: 16px;
    font-size: 1rem;
    width: 100%;
  }
  .mu_register {
    #blog_title, #user_email, #blogname, #user_name {
      font-size: 16px;
      font-size: 1rem;
      width: 100%;
    }
    #blogname {
      margin: 0;
    }
    #blog_title, #user_email, #user_name {
      margin: 0 0 0.375em;
    }
  }
  #submit {
    font-size: 16px;
    font-size: 1rem;
    margin: 0;
    width: auto;
  }
  .mu_register {
    input[type="submit"] {
      font-size: 16px;
      font-size: 1rem;
      margin: 0;
      width: auto;
    }
    .prefix_address, .suffix_address {
      font-size: inherit;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
  form > :last-child {
    margin-bottom: 0;
  }
}