// Colors
$white: #fff; // 255,255,255
$black: #1a1a1a;
$gray1: #d1d1d1;
$gray2: #686868;
$blue1: #007acc;
$blue2: #21759b;
$offwhite: #f7f7f7;

$font-family-base: Merriweather, Georgia, serif;
$font-family-icons: "Genericons";
$font-family-input: Montserrat, "Helvetica Neue", sans-serif;
$font-family-mono: Inconsolata, monospace;
$font-family-title: Montserrat, sans-serif;
